@model FollowUpWebApp.Models.GroupCellList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GroupCellList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member.ChurchDataId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.ChurchDataId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GroupCellListId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
