@model FollowUpWebApp.Models.Member

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChurchData.ParishName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChurchData.ParishName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prefix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prefix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaritalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaritalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressHouseNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressHouseNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressStreetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressStreetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressTown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressTown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TownOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TownOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateOfOrigin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateOfOrigin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tribe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tribe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsANewMember)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsANewMember)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passport)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MemberId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
